{% extends "base.html" %}
{% block title %}admin{% endblock %}



{% block body %}

<div class="m-2 " >
    <div class="d-flex justify-content-center">
        <h3>Add product</h3>
    </div>
    <form action="{{ url_for('admin.postAddProduct') }}" method="POST" enctype="multipart/form-data" >
        <div class="form-group">
            <label for="ProductName">Product Name</label>
            <input type="text" class="form-control" id="ProductName" name="ProductName" placeholder="Enter Product Name" required >
        </div>
        <div class="form-group">
          <label for="AvailableUnit">Available Unit</label>
          <input type="number" class="form-control" id="AvailableUnit" name="AvailableUnit"  placeholder="Enter Available Unit" required >
         
        </div>
        <div class="form-group">
            <label for="PerUnitCharge">Per Unit Charge</label>
            <input type="number" class="form-control" id="PerUnitCharge" name="PerUnitCharge" placeholder="Enter Per Unit Charge" required >
        </div>
        <div class="form-group">
            <label for="ProductDescription">Product Description</label>
            <input type="text" class="form-control" id="ProductDescription" name="ProductDescription" placeholder="Enter Per Product Description" required >
        </div>
    
        
        <div class="form-group">
            <label for="ProductImage">Product Image</label>
            <input type="file" class="form-control" id="ProductImage" name="ProductImage"  required >
        </div>
        
        
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    

</div>


<!-- second form start -->


<div class="m-2 " >
    <div class="d-flex justify-content-center">
        <h3>Add Nurse</h3>
    </div>
    <form action="{{ url_for('homeNurse.postAddNurse') }}" method="POST" enctype="multipart/form-data" >
        <div class="row">
            <div class="col-2">
              <label class="" for="city">City:</label>
             </div>
              <div class="col-3">
                <select class="form-control" name="city" id="city">
                  <option value="dhaka">Dhaka</option>
                  <option value="rajshahi">Rajshahi</option>
                  <option value="khulna">Khulna</option>
                  <option value="chittagong">Chittagong</option>
                  <option value="barishal">Barishal</option>
                  <option value="sylhet">Sylhet</option>
                  <option value="rangpur">Rangpur </option>
                  <option value="mymensingh">Mymensingh</option>
                 
                </select>
              </div>
          </div>
        <div class="form-group">
          <label for="nurseNumber">Number of Nurse:</label>
          <input type="number" class="form-control" id="nurseNumber" name="nurseNumber"  placeholder="Enter nurse number" required >
         
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    

</div>




{% endblock %}