<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    

    


     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}

    <styles>
       
    </styles>
   
</head>
<body >

 <div class="container-flued" >
    <div id="">
        
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-button bg-primary">
                <div class="container"><a class="navbar-brand" href="#"><strong>Pandemic Essentials</strong></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav mr-auto">
                            <li role="presentation" class="nav-item"><a class="nav-link active" href="{{ url_for('index') }}">Home</a></li>
                            {% if session.UserPhone %}
                            <li role="presentation" class="nav-item"><a class="nav-link" href="{{ url_for('shop.getUsersAllOrder') }}">Order history</a></li>
                            {% endif %}
                            {% if session.UserRole == 'admin'%}
                            <li role="presentation" class="nav-item"><a class="nav-link" href="{{ url_for('admin.getAdminDashBoard') }}">Admin DashBoard</a></li>
                           
                            {% endif %}

                            {% if session.UserPhone %}
                            <li role="presentation" class="nav-item"><a class="nav-link active" href="{{ url_for('shop.getUserCart') }}">CART</a></li>
                            {% endif %}
                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                    Services
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a role="presentation" class="dropdown-item" href="{{ url_for('shop.getAllProducts') }}">Shop</a></li>
                                  <li><a role="presentation" class="dropdown-item" href="{{ url_for('homeNurse.getAllNurseinfo') }}">Home nursing service</a></li>
                                  <li> <a role="presentation" class="dropdown-item" href="{{ url_for('testSample.getTestService') }}">Covid19 test sample collection </a></li>                                  
                                  <li><a role="presentation" class="dropdown-item" href="{{ url_for('fuService.getAllFUinfo') }}">Burial and funeral service</a></li>
                                  <li> <a role="presentation" class="dropdown-item" href="{{ url_for('ambulance.getAllAmbulanceinfo') }}">Ambulance service </a></li>
                                  <li><a role="presentation" class="dropdown-item" href="#">Fitness and Nutrition guideline </a></li>
                                </ul>
                              </div>



                            <!-- <li class="dropdown nav-item"><a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#">Services</a>
                                <div role="menu" class="dropdown-menu">
                                    <a role="presentation" class="dropdown-item" href="{{ url_for('shop.getAllProducts') }}">E-Commerce</a>
                                    <a role="presentation" class="dropdown-item" href="#">Home nursing service</a>
                                    <a role="presentation" class="dropdown-item" href="#">Ambulance service </a>
                                    <a role="presentation" class="dropdown-item" href="#">Burial and funeral service</a>
                                    <a role="presentation" class="dropdown-item" href="#">Covid19 test sample collection from home</a>
                                    <a role="presentation" class="dropdown-item" href="#">Fitness and Nutrition coach guideline service</a>
                                </div>
                            </li> -->


                        </ul><span class="navbar-text actions">
                            {% if session.UserPhone %}
                            <a class="login" href="{{ url_for('auth.getLogout') }}">Log out</a>
                            {% else %}
                            <a class="login mr-1" href="{{ url_for('auth.getLogin') }}">Log In</a>
                            <a class="btn btn-light action-button" role="button" href="{{ url_for('auth.getSignup') }}">Sign Up</a></span></div>
                            {% endif %}
                </div>
            </nav>
         
          <!-- Flash message Div    -->
        <Div class="m-3 p-3">
               
        
            <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
           {% for message in messages %}
           <div class="alert alert-danger  " role="alert">
            {{ message }}
          </div>
              
           {% endfor %}
        {% endif %}
        {% endwith %}
        
        </Div>
        
        
        
        
        
            {% block body %}
        
            {% endblock %}
        
        
            
        
            
        
        
        
         
    </div>

    
 </div>
</body>

</html>