{% extends "base.html" %}

{% block title %}Volunteer Details{% endblock %}

{% block body %}

<div class="container mt-4">
    <img class="rounded mx-auto d-block" height=150 class="img-fluid" src="/static/img/{{result['image']}}" class="card-img-top" alt="...">
    <div class="bg-light my-2 p-4" style="font-size: 20px;">
        <div class="d-flex" >
            <p ><b class="mr-3">Name: </b>{{result['name']}} </p>
            <p class="mx-auto"><b class="mr-3">Phone: </b> {{result['phone']}}</p>
        </div>
        <div>
            <p><b class="mr-3">Area:</b>{{result['area']}}</p>
        </div>
        
        <div>
        </div>
        <hr/>
        <div>
            <h4>Review</h4>
            <div class="border border-primary border-3 text-center">
                <h5 class="bg-info text-white py-2"><b>Add Review</b></h5>
                    <form class="row g-3 my-3 px-2" action="{{ url_for('fuService.postADDFUComment') }}" method="POST" >
                        <div class="input-group mb-3">
                            <input type="hidden" name = "Pphone"  value = "{{result['phone']}}" >
                            <input type="text" class="form-control" placeholder="Review Text" name="Ucommnet" id="Ucommnet"  required>
                            <button class="btn btn-success" type="submit" id="button-addon2">Submit Review</button>
                        </div>
                    </form>
            </div>
            <div>
                <table class="text-center table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                          <th scope="col" style="width: 20%">Name</th>
                          <th scope="col">Review</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in comment %}
                        <tr>
                          <td>{{item['user_name']}}</td>
                          <td>{{item['comment']}}</td>
                        </tr>
                        <tr>
                            {% endfor %}
                        </tr>
                      </tbody>
                  </table>
            </div>
        </div>
    </div>

</div>


{% endblock %}