{% extends "base.html" %}

{% block title %}HomeNursing Service{% endblock %}

{% block body %}

<div class="container">
    <h2 class="text-center">Burial and funeral service</h2>
    <div class="row my-5">
      <div class="col-6 py-2">
        <img class="img-fluid w-100" src="/static/img/funeral.jpg" alt="sample-img">
      </div>
      <div class="col-6">
        <p class="lead"><b>  It’s very risky to perform funeral of a covid-19 positive dead body.  All people are not trained to do that safely. So there is a risk to do this  kind of work for people. That’s why we  offer the Burial and funeral service. Our expert and trained people will do this work for you. There are many volunteers who are willing to do this work. We train them how to do  it safely. So let us know when you need this service. Its completely free.    </b> </p>
      </div>
    </div>
    <div>
      <h5 class="text-center mb-3">Select Date and City</h5>
      <div class="container">
        <form  class="form" action="{{ url_for('fuService.postBookFuService') }}" method="POST" enctype="multipart/form-data">
         <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <label for="date">Date</label>
                 </div>
                  <div class="col-10">
                    <input class="form-control" type="date" name="date" id="date" required>
                  </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <label class="" for="city">City</label>
                 </div>
                  <div class="col-10">
                    <select class="form-control" name="city" id="city">
                        <option value="dhaka">Dhaka</option>
                        <option value="rajshahi">Rajshahi</option>
                        <option value="khulna">Khulna</option>
                        <option value="chittagong">Chittagong</option>
                        <option value="barishal">Barishal</option>
                        <option value="sylhet">Sylhet</option>
                        <option value="rangpur">Rangpur </option>
                        <option value="mymensingh">Mymensingh</option>
                    </select>
                  </div>
              </div>
            </div>
         </div>
         <div class="row my-3">
          <div class="col-2">
            <label for="address">Address</label>
           </div>
            <div class="col-10">
              <input class="form-control" type="text" name="address" id="address" required>
            </div>
        </div>
         <div class="text-center">
          <button class="btn btn-success" type="submit">
            Submit
          </button>
         </div>
        </form>
      </div>
      <div>
        <h5 class="font-weight-bold">Price: <b>FREE</b></h5>
      </div>
    </div>
  </div>

{% endblock %}