{% extends "base.html" %}

{% block title %}HomeNursing Service{% endblock %}

{% block body %}

<div class="container">
    <h2 class="text-center">Home Nursing Service</h2>
    <div class="row my-5">
      <div class="col-6 py-2">
        <img class="img-fluid w-100" src="/static/img/NursingHomeCare.jpg" alt="nursing-img">
      </div>
      <div class="col-6">
        <p class="lead"><b> Didn’t get a seat at the hospital? No need to worry, we are here for you. We have specialized nurses to take care of you at home. Our nurses are highly qualified. By using our home nursing service, You can hire nurses. Nurses can be hired for 24 hours. There will be two Nurses with 12 hours shift. They will take care of you as the doctor suggest.  To get the service, select the date and city. If nurses are available in your area, you will get the service. So No need to worry about getting admitted at the hospital when you have nurses at home.</b> </p>
      </div>
    </div>
    <div>
      <h5 class="text-center mb-3">Select Date and City</h5>
      <div class="container">
        <form  class="form" action="{{ url_for('homeNurse.postBookNurs') }}" method="POST" enctype="multipart/form-data">
         <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <label for="date">Date</label>
                 </div>
                  <div class="col-10">
                    <input class="form-control" type="date" name="date" id="date" required>
                  </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-2">
                  <label class="" for="city">City</label>
                 </div>
                  <div class="col-10">
                    <select class="form-control" name="city" id="city">
                        <option value="dhaka">Dhaka</option>
                        <option value="rajshahi">Rajshahi</option>
                        <option value="khulna">Khulna</option>
                        <option value="chittagong">Chittagong</option>
                        <option value="barishal">Barishal</option>
                        <option value="sylhet">Sylhet</option>
                        <option value="rangpur">Rangpur </option>
                        <option value="mymensingh">Mymensingh</option>
                    </select>
                  </div>
              </div>
            </div>
         </div>
         <div class="row my-3">
          <div class="col-2">
            <label for="address">Address</label>
           </div>
            <div class="col-10">
              <input class="form-control" type="text" name="address" id="address" required>
            </div>
        </div>
         <div class="text-center">
          <button class="btn btn-success" type="submit">
            Submit
          </button>
         </div>
        </form>
      </div>
      <div>
        <h5 class="font-weight-bold">Price: 800 BDT</h5>
      </div>
    </div>
  </div>

{% endblock %}