{% extends "base.html" %}



{% block title %}Home{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static',filename= 'styles/orderList.css' )}}">


{% endblock %}


{% block body %}
    <div class="container mt-4" id="cart-container">
        <div>
        <a class="btn btn-success action-button " role="button" href="{{ url_for('homeNurse.getUsersBookedNurses') }}">Home Nursing Servcie History</a>
    </div>

    <br/>

    
    <div>
        <a class="btn btn-success action-button " role="button" href="{{ url_for('testSample.getUsersBookedTests') }}">Covid-19  test sample collection Servcie History</a>
    </div>

    <br/>


    <div>
        <a class="btn btn-success action-button " role="button" href="{{ url_for('fuService.getUsersBookedFuService') }}">Burial and Funeral  Servcie History</a>
    </div>

    <br/>

   


        <h3 class="text-center my-5">Your Product Order List</h3>


        {% for item in userOrders %}
        <div class="row border-bottom py-3">
            <div class="col-6">
                <h5>{{ item['product_name'] }}</h5>
                <span class="ml-3">Quantity: {{ item['product_amount'] }}</span>
            </div>
            <div class="col-3 d-flex align-items-center border-left border-right">
               <span> Total Price : <span class="font-weight-bold"><span style="font-size: 1.5rem; font-weight: 900;">&#2547</span> {{ item['total_price'] }}</span></span>
            </div>
            <div class="col-3 d-flex align-items-center">
                <p>{{ item['date'] }}</p>
            </div>
        </div>

        {% endfor %}

       
    </div>
    {% endblock %}