{% extends "base.html" %}
{% block title %}Product Details{% endblock %}


{% block body %}

<div class="m-5">
    <img class="card-img-top img-responsive " src="/static/img/{{product['product_image']}}" alt="product image" height="300" >


    {% if session.UserRole == 'admin'%}

    <form action="{{ url_for('shop.postIncreaseProduct') }}" method="post"  >
        <div class="form-group">
          <input type="hidden" name = "id"  value = "{{product['_id']}}" >
          <label for="amount">Increse amount:</label>
          <input type="number" class="form-control" placeholder="amount" id="amount" name="amount">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


      {% endif %}

    <!-- {% if session.UserRole == 'admin'%}   -->
    <hr>
    <br>
  <form action="{{ url_for('shop.postIncreaseProduct') }}" method="post"  >
      <input type="hidden" name = "id"  value = "{{product['_id']}}" >
      <label for="amount">amount:</label>
      <input type="number" id =  "amount" name = "amount"    >
     
      <button type="submit" name="btndelete" >Increase</button>
  </form>
 
  <!-- {% endif %} -->

    <h2 class="text-center mt-3"><b>{{product['product_name']}}</b></h2>
    <h3 class="mt-5"> <b>Available Unit:</b> {{product['available_unit']}}  </h3>
    <h3 class="mt-2"> <b>Per Unit Price:</b> {{product['per_unit_charge']}} BDT  </h3>
    <div>
        <h3 class="mt-5"> <b>Add to cart:</b> <input type="number"><button>Add</button>  </h3>   
    </div>
    <h2 class="text-center mt-3"><b>Description</b></h2>

    <p> {{product['product_description']}}</p>
   


</div>


{% endblock %}